<div class="masonry-demo">
	<div class="links">
		<a href="https://github.com/wynfred/ngx-masonry" target="_blank">View on Github</a>
		<a class="github-button" href="https://github.com/wynfred/ngx-masonry" data-size="large" data-show-count="true" aria-label="Star wynfred/ngx-masonry on GitHub">Star</a>
	</div>
  <h1>Ngx Masonry Demo</h1>

  <button *ngIf="limit < 100" (click)="prependImage()">Prepend Image</button>
  <ngx-masonry [options]="masonryOptions" style="width: 90vw;" [ordered]="true" (itemsLoaded)="itemsLoaded()">
    <div ngxMasonryItem [prepend]="image[0]" *ngFor="let image of masonryImages;index as idx" style="width: 30%;">
      <div> {{idx}} </div>
      <img [src]="image[1]" width="100%">
    </div>
  </ngx-masonry>

  <button *ngIf="limit < 100" (click)="showMoreImages()">Show More Images</button>
  <button *ngIf="limit < 100" (click)="insertImage()">Insert Image</button>
  <button *ngIf="masonryImages" (click)="removeImage()">Remove Image</button>
  <h2 *ngIf="limit >= 100">No More Images</h2>
</div>
